<header class="subheading">
  <div class="itemSearch">
     <a href="index">Home</a>
     <a href="">Vegetables</a>
     <a href="fruit">Fruits</a>
     <a href="offer">Offers</a>
     
   </div>
   <div class="search"><a href=""> <button>Search</button></a></div> 
</header>

<main>

  <section class="ad">
    <div><%= render 'ad' %></div>
  </section>

  <section class="item">
    <section class="items">
     
      <%= render 'vegetable' %>     



    </section>
  </section>


  <!-- <section class="cart"> -->
    <%= render 'cart' %>
</main>
