<% @vegetables.each do |v| %>
       <section>
          <%= v.name%>
          <img src="fru.jpg">
          <a href="">Add To Cart</a>
          <a href="">Some Facts</a>
        </section>
        
      <%end%>
      