<header class="subheading">
  <div class="itemSearch">
     <a href="moderator">Home</a>
     <%= link_to "Add Vegetables",url_for(controller: :vegetables , action: :new) %>
     <%= link_to "Add Fruits",url_for(controller: :fruits , action: :new) %>
     <!-- <a href="offer">Offers</a>  -->
     <a href="curr_orders">Current Orders</a>
     <a href="delivered">Orders Delivered</a>

  </div>

</header>
<%= link_to "Edit Fruits" , url_for(controller: :fruits , action: :index) %>


